@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme {
  --font-roboto-mono: var(--font-roboto-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1800px;

  --container-xs: 360px;
  --container-sm: 600px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1152px;
  --container-2xl: 1408px;
  --container-3xl: 1728px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}